.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 6rem var(--section-horizontal-padding-1200);
  padding: 4rem;
}

.card__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card__images img {
  width: 80%;
  height: auto;
  padding: 4%;
}

.card__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem;
}

.card__contents__period {
  color: var(--gray2);
  margin-bottom: 1rem;
}

.card__contents__title {
  font-weight: 700;
  margin-bottom: 2rem;
}

.card__contents__explain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card__contents__explain__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.card__contents__explain__row h6 {
  padding-right: 1rem;
}

.card__contents__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 2rem;
}

.card__contents__link i {
  margin-left: 2rem;
  font-size: 2rem;
}

.card__contents__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.card__contents__tags h6 {
  background-color: var(--gray3);
  border-radius: var(--border-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: var(--gray6);
  padding: 1.4rem 2rem;
  margin: 1rem 1.4rem;
}

.card:hover {
  transform: scale(1.02);
}

.card__contents__link:hover {
  color: var(--blue1);
}

.card__contents__tags h6:hover {
  transform: scale(1.2);
  background-color: var(--gray1);
}

@media (max-width: 900px) {
  .card {
    margin: 6rem var(--section-horizontal-padding-900);
    flex-direction: column;
  }
  .card__images {
    flex-direction: row;
    justify-content: center;
  }
  .card__contents {
    padding: 2rem 0rem;
  }
}

@media (max-width: 600px) {
  .card {
    margin: 6rem var(--section-horizontal-padding-600);
    padding: 2rem;
  }
  .card__contents__tags h6 {
    padding: 0.4rem 1rem;
    margin: 0.6rem 0.6rem;
  }
  .card__contents__link i {
    margin-left: 1rem;
    font-size: 1rem;
  }
  .card__contents {
    padding: 2rem 0rem;
  }
}
