.header {
  width: 100%;
  height: 50rem;
  margin-top: 8.8rem;
  background: #d7d7d7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../img/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  padding-left: 6rem;
}

.header__left__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 6rem;
}

.header__left__text__hello {
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.header__left__text__name {
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.header__left__text__major {
  color: #909090;
  font-weight: 700;
}

.header__left__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-right: 30%;
}

.header__left__btns img {
  width: 70%;
  height: auto;
}

.header__right {
  flex-grow: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right img {
  width: 70%;
  height: auto;
}

.header__left__btns a:hover {
  opacity: 0.7;
}
.header__left__btns a:active {
  transform: scale(0.9);
}
.header__left__btns a:visited {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 600px) {
  .header {
    height: 60rem;
    background-image: url("../../img/bg_header_small.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  .header__right {
    display: none;
  }
  .header__left__text {
    justify-content: center;
    align-items: center;
    height: 72%;
  }
  .header__left__text__hello h3 {
    color: #fff;
    font-weight: 500;
  }
  .header__left__text__name h2 {
    color: #fff;
    text-align: center;
  }
  .header__left__text__major h3 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
  }
  .header__left__btns {
    padding-right: 6rem;
    justify-content: space-around;
    height: 28%;
  }
}
