.section__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--section-top-padding-1200);
  color: #4f4f4f;
  background-color: #f2f2f2;
}

.section__top h1 {
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .section__top {
    padding: var(--section-top-padding-900);
  }
}

@media (max-width: 600px) {
  .section__top {
    padding: var(--section-top-padding-600);
  }
}
